<section (click)="handleClick($event)" class="home" id="home">
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="display-4">Bienvenido, soy <span>Diego</span></h1>
    <p class="lead">
      <span class="animated-text background-daw">Desarrollador de Aplicaciones Web</span>
    </p>

    <div class="mt-3">
      <a (click)="downloadCV($event)" class="btn btn-primary me-2">
        Descargar CV
      </a>
    
      <canvas #explosionCanvas style="position: fixed; top: 0; left: 0; pointer-events: none;"></canvas>
    
      <a href="mailto:diegoarnanzlozano96@gmail.com" class="btn btn-secondary me-2" (click)="$event.stopPropagation()">
        Contactar
      </a>
    
      <a href="https://github.com/diegoarnanz-maker" class="btn btn-icon" target="_blank" (click)="$event.stopPropagation()">
        <img src="../../../assets/foto-projects/github.png" alt="GitHub" class="icon-img">
      </a>
    
      <a href="https://www.linkedin.com/in/diego-arnanz-lozano-6374701b5/" class="btn btn-icon" target="_blank" (click)="$event.stopPropagation()">
        <img src="../../../assets/foto-projects/linkedin.png" alt="LinkedIn" class="icon-img">
      </a>
    </div>
    
    <div class="mt-4 game-container">
      <div #character class="character">
        <div class="jumper">
          <img src="../../../assets/images/patito.png" alt="Pollito">
        </div>
      </div>
      <div #obstacle class="obstacle" [ngClass]="{ 'moveObstacle': gameStarted }"></div>
    </div>
    <p class="saltosTotal">Saltos realizados: {{ obstaclesJumped }}</p>

    <div *ngIf="!gameStarted" class="start-text fs-5">
      Haz clic en cualquier sitio para empezar a jugar
    </div>
  </div>
</section>
