<section id="sobre-mi" class="custom-background">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="../../../assets/images/duck.png" alt="" class="img-fluid rounded-circle img-border mb-4" style="width: 80%; max-width: 150px; opacity: 0.8;">
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-center">
        <p class="lead text-secondari" style="font-size: 1.2rem;">
          Soy un apasionado del desarrollo de aplicaciones web, especializado en fullstack. Me encanta crear soluciones
          innovadoras y trabajar en proyectos cooperativos que me permitan crecer y aprender continuamente.
        </p>
      </div>
    </div>

    <div class="mt-5">
      <p class=" fs-1 text-center text-primari mb-4 font-weight-bold">
        <span>*</span> Habilidades <span>*</span>
      </p>
    
      <ul class="list-unstyled d-flex flex-wrap justify-content-center">
        <li class="mx-3 text-center">
          <img src="../../../assets/images/html.png" alt="HTML" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/css.png" alt="CSS" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/bootstrap.png" alt="Bootstrap" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/tailwind.png" alt="Tailwind" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/figma.png" alt="Tailwind" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/javascript.png" alt="JavaScript" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/typescript.png" alt="TypeScript" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/angular.png" alt="Angular" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/java.png" alt="Java" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/springboot.png" alt="Spring Boot" class="tech-icon" />
        </li>
        <li class="mx-3 text-center">
          <img src="../../../assets/images/mysql.png" alt="MySQL" class="tech-icon" />
        </li>
      </ul>
    </div>
  </div>
</section>
